In [ ]:
## Python basics for novice data scientists, supported by Wagatsuma Lab@Kyutech 
#
# The MIT License (MIT): Copyright (c) 2020 Hiroaki Wagatsuma and Wagatsuma Lab@Kyutech
# 
# Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
# The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */
#
# # @Time    : 2020-6-18 
# # @Author  : Hiroaki Wagatsuma
# # @Site    : https://github.com/hirowgit/2A_python_basic_course
# # @IDE     : Python 3.10.9 (main, Dec 15 2022, 18:18:30) [Clang 14.0.0 (clang-1400.0.29.202)] on darwin
# # @File    : ksp_novice_lec01.py

In [30]:
import numpy as np
import numpy.matlib
import os
import sys
import codecs
import matplotlib.pyplot as plt
import pandas as pd
from openpyxl import Workbook
import pprint
import datetime

## Example 1

In [6]:
sd1=pd.Series([10,20,30,40])
display(sd1)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
df1=pd.DataFrame([[10,"a",True],[20,"b",False,],[30,"c",False],[40,"d",True]])
display(df1)

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

## Example 2

In [18]:
df_utf=pd.read_csv("dataH/2023health_out.csv",encoding="utf8")
display(df_utf)

         date  steps  kcal
0    2023/4/1   1166    35
1    2023/4/2  12746   382
2    2023/4/3   7911   237
3    2023/4/4   4390   132
4    2023/4/5  13479   404
5    2023/4/6   5667   170
6    2023/4/7   1677    50
7    2023/4/8  13287   399
8    2023/4/9   2633    79
9   2023/4/10   3464   104
10  2023/4/11  12350   371
11  2023/4/12   1401    42
12  2023/4/13  10677   320
13  2023/4/14   8522   256
14  2023/4/15   5192   156
15  2023/4/16   3685   111
16  2023/4/17  13648   409
17  2023/4/18   5943   178
18  2023/4/19  14510   435
19  2023/4/20  12420   373
20  2023/4/21  14918   448
21  2023/4/22   1509    45
22  2023/4/23  12737   382
23  2023/4/24  13949   418
24  2023/4/25   7063   212
25  2023/4/26   6050   182
26  2023/4/27  12808   384
27  2023/4/28   8753   263
28  2023/4/29  10898   327
29  2023/4/30    105     3

In [23]:
df_utf.loc[:,'date']=df_utf.loc[:,'date'].apply(pd.to_datetime)

In [24]:
df_utf.loc[:,"date"]

0    2023-04-01
1    2023-04-02
2    2023-04-03
3    2023-04-04
4    2023-04-05
5    2023-04-06
6    2023-04-07
7    2023-04-08
8    2023-04-09
9    2023-04-10
10   2023-04-11
11   2023-04-12
12   2023-04-13
13   2023-04-14
14   2023-04-15
15   2023-04-16
16   2023-04-17
17   2023-04-18
18   2023-04-19
19   2023-04-20
20   2023-04-21
21   2023-04-22
22   2023-04-23
23   2023-04-24
24   2023-04-25
25   2023-04-26
26   2023-04-27
27   2023-04-28
28   2023-04-29
29   2023-04-30
Name: date, dtype: datetime64[ns]

In [26]:
df_utf.sort_values(by="steps")

         date  steps  kcal
29 2023-04-30    105     3
0  2023-04-01   1166    35
11 2023-04-12   1401    42
21 2023-04-22   1509    45
6  2023-04-07   1677    50
8  2023-04-09   2633    79
9  2023-04-10   3464   104
15 2023-04-16   3685   111
3  2023-04-04   4390   132
14 2023-04-15   5192   156
5  2023-04-06   5667   170
17 2023-04-18   5943   178
25 2023-04-26   6050   182
24 2023-04-25   7063   212
2  2023-04-03   7911   237
13 2023-04-14   8522   256
27 2023-04-28   8753   263
12 2023-04-13  10677   320
28 2023-04-29  10898   327
10 2023-04-11  12350   371
19 2023-04-20  12420   373
22 2023-04-23  12737   382
1  2023-04-02  12746   382
26 2023-04-27  12808   384
7  2023-04-08  13287   399
4  2023-04-05  13479   404
16 2023-04-17  13648   409
23 2023-04-24  13949   418
18 2023-04-19  14510   435
20 2023-04-21  14918   448

In [25]:
df_utf.sort_values(by="steps",ascending=False).head()

         date  steps  kcal
20 2023-04-21  14918   448
18 2023-04-19  14510   435
23 2023-04-24  13949   418
16 2023-04-17  13648   409
4  2023-04-05  13479   404

In [36]:
month_list=[datetime.date(2023, k+1, 1).strftime("%B") for k in range(12)]
display(month_list)
month_list_FY=month_list[3:11]+month_list[0:2]
display(month_list_FY)

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

['April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'January',
 'February']

In [38]:
os.path.join("dataH", "2023health_"+month_list_FY[0]+".csv")

'dataH/2023health_April.csv'

In [41]:
for m in month_list_FY:
    fpath = os.path.join("dataH", "2023health_"+m+".csv")
    df_data=pd.read_csv(fpath,encoding="utf8")
    display("2023health_"+m+".csv")
    display(df_data)

'2023health_April.csv'

         date  steps  kcal
0    2023/4/1  14886   447
1    2023/4/2   6893   207
2    2023/4/3   7711   231
3    2023/4/4   8399   252
4    2023/4/5  12150   365
5    2023/4/6   6165   185
6    2023/4/7  10913   327
7    2023/4/8  11316   339
8    2023/4/9   9871   296
9   2023/4/10  12274   368
10  2023/4/11   2845    85
11  2023/4/12     87     3
12  2023/4/13  14484   435
13  2023/4/14  14394   432
14  2023/4/15   1032    31
15  2023/4/16   4766   143
16  2023/4/17  12371   371
17  2023/4/18   1285    39
18  2023/4/19   1151    35
19  2023/4/20   6314   189
20  2023/4/21    152     5
21  2023/4/22  11130   334
22  2023/4/23   2215    66
23  2023/4/24  14541   436
24  2023/4/25   2350    71
25  2023/4/26   8367   251
26  2023/4/27    103     3
27  2023/4/28   2641    79
28  2023/4/29   1926    58
29  2023/4/30  10834   325

'2023health_May.csv'

         date  steps  kcal
0    2023/5/1   2380    71
1    2023/5/2  12565   377
2    2023/5/3     32     1
3    2023/5/4  13075   392
4    2023/5/5  12069   362
5    2023/5/6  12440   373
6    2023/5/7   1054    32
7    2023/5/8  12803   384
8    2023/5/9   7781   233
9   2023/5/10   6564   197
10  2023/5/11    271     8
11  2023/5/12   9661   290
12  2023/5/13  12549   376
13  2023/5/14   8393   252
14  2023/5/15  10749   322
15  2023/5/16   5848   175
16  2023/5/17  11054   332
17  2023/5/18  10000   300
18  2023/5/19  10214   306
19  2023/5/20   6281   188
20  2023/5/21   9280   278
21  2023/5/22   7797   234
22  2023/5/23   3067    92
23  2023/5/24   1167    35
24  2023/5/25   1085    33
25  2023/5/26   5575   167
26  2023/5/27   4377   131
27  2023/5/28   4131   124
28  2023/5/29   6880   206
29  2023/5/30   2332    70
30  2023/5/31  11977   359

'2023health_June.csv'

         date  steps  kcal
0    2023/6/1   3777   113
1    2023/6/2   8834   265
2    2023/6/3    243     7
3    2023/6/4   5581   167
4    2023/6/5    934    28
5    2023/6/6  11825   355
6    2023/6/7   3338   100
7    2023/6/8   5320   160
8    2023/6/9  10001   300
9   2023/6/10   5502   165
10  2023/6/11   2992    90
11  2023/6/12   3701   111
12  2023/6/13   4871   146
13  2023/6/14   5058   152
14  2023/6/15    856    26
15  2023/6/16   1265    38
16  2023/6/17   3001    90
17  2023/6/18  11403   342
18  2023/6/19  11689   351
19  2023/6/20   6641   199
20  2023/6/21   2887    87
21  2023/6/22   6808   204
22  2023/6/23   1685    51
23  2023/6/24   3315    99
24  2023/6/25  11023   331
25  2023/6/26  14584   438
26  2023/6/27  10176   305
27  2023/6/28   9829   295
28  2023/6/29  12846   385
29  2023/6/30   6047   181

'2023health_July.csv'

         date  steps  kcal
0    2023/7/1   5759   173
1    2023/7/2   7841   235
2    2023/7/3    613    18
3    2023/7/4   4622   139
4    2023/7/5  11747   352
5    2023/7/6  10904   327
6    2023/7/7  14022   421
7    2023/7/8     59     2
8    2023/7/9   2273    68
9   2023/7/10   4516   135
10  2023/7/11   7884   237
11  2023/7/12  10563   317
12  2023/7/13  14056   422
13  2023/7/14   5188   156
14  2023/7/15   7907   237
15  2023/7/16   8791   264
16  2023/7/17   5302   159
17  2023/7/18   2469    74
18  2023/7/19   4566   137
19  2023/7/20   3635   109
20  2023/7/21  11525   346
21  2023/7/22  13166   395
22  2023/7/23   2976    89
23  2023/7/24   6842   205
24  2023/7/25   7360   221
25  2023/7/26    953    29
26  2023/7/27  12999   390
27  2023/7/28  13280   398
28  2023/7/29   9015   270
29  2023/7/30  10922   328
30  2023/7/31   8330   250

'2023health_August.csv'

         date  steps  kcal
0    2023/8/1    511    15
1    2023/8/2     77     2
2    2023/8/3  12215   366
3    2023/8/4  14462   434
4    2023/8/5  10230   307
5    2023/8/6   1966    59
6    2023/8/7   8197   246
7    2023/8/8  11403   342
8    2023/8/9  12203   366
9   2023/8/10   4717   142
10  2023/8/11   1090    33
11  2023/8/12  10737   322
12  2023/8/13   9248   277
13  2023/8/14   5664   170
14  2023/8/15  11057   332
15  2023/8/16  14689   441
16  2023/8/17   1378    41
17  2023/8/18   8801   264
18  2023/8/19  10719   322
19  2023/8/20  10812   324
20  2023/8/21   5439   163
21  2023/8/22   7293   219
22  2023/8/23    431    13
23  2023/8/24  11387   342
24  2023/8/25   8997   270
25  2023/8/26  11104   333
26  2023/8/27  13032   391
27  2023/8/28    759    23
28  2023/8/29  12233   367
29  2023/8/30  13238   397
30  2023/8/31   4415   132

'2023health_September.csv'

         date  steps  kcal
0    2023/9/1   6524   196
1    2023/9/2  10573   317
2    2023/9/3   8745   262
3    2023/9/4   2950    89
4    2023/9/5    603    18
5    2023/9/6  14420   433
6    2023/9/7   6253   188
7    2023/9/8   6577   197
8    2023/9/9   3847   115
9   2023/9/10  11774   353
10  2023/9/11  11945   358
11  2023/9/12  12774   383
12  2023/9/13   3130    94
13  2023/9/14   6413   192
14  2023/9/15    937    28
15  2023/9/16  14124   424
16  2023/9/17   4231   127
17  2023/9/18   7722   232
18  2023/9/19   9258   278
19  2023/9/20  12174   365
20  2023/9/21   4939   148
21  2023/9/22  10451   314
22  2023/9/23   8992   270
23  2023/9/24   2192    66
24  2023/9/25  12883   386
25  2023/9/26   7909   237
26  2023/9/27  11458   344
27  2023/9/28   7385   222
28  2023/9/29   9730   292
29  2023/9/30   8377   251

'2023health_October.csv'

          date  steps  kcal
0    2023/10/1  10042   301
1    2023/10/2   2359    71
2    2023/10/3  12450   374
3    2023/10/4  13903   417
4    2023/10/5  12455   374
5    2023/10/6    193     6
6    2023/10/7   6013   180
7    2023/10/8   9595   288
8    2023/10/9  11429   343
9   2023/10/10  12284   369
10  2023/10/11   3359   101
11  2023/10/12  13063   392
12  2023/10/13    365    11
13  2023/10/14   4944   148
14  2023/10/15    835    25
15  2023/10/16   8677   260
16  2023/10/17   4961   149
17  2023/10/18  11476   344
18  2023/10/19   9788   294
19  2023/10/20   7814   234
20  2023/10/21  14091   423
21  2023/10/22   7402   222
22  2023/10/23   2036    61
23  2023/10/24  10172   305
24  2023/10/25  14196   426
25  2023/10/26   6269   188
26  2023/10/27  12648   379
27  2023/10/28    262     8
28  2023/10/29   4200   126
29  2023/10/30  10233   307
30  2023/10/31   2128    64

'2023health_November.csv'

          date  steps  kcal
0    2023/11/1  13429   403
1    2023/11/2  12506   375
2    2023/11/3  14644   439
3    2023/11/4   4916   147
4    2023/11/5   2561    77
5    2023/11/6   4622   139
6    2023/11/7   4727   142
7    2023/11/8  13374   401
8    2023/11/9  12047   361
9   2023/11/10  12787   384
10  2023/11/11   3170    95
11  2023/11/12  12934   388
12  2023/11/13   2709    81
13  2023/11/14   8301   249
14  2023/11/15     30     1
15  2023/11/16   9862   296
16  2023/11/17   2959    89
17  2023/11/18    782    23
18  2023/11/19  10666   320
19  2023/11/20   4765   143
20  2023/11/21   7404   222
21  2023/11/22   1528    46
22  2023/11/23   3758   113
23  2023/11/24   4130   124
24  2023/11/25  10294   309
25  2023/11/26  12942   388
26  2023/11/27  11718   352
27  2023/11/28  14285   429
28  2023/11/29   2401    72
29  2023/11/30   8756   263

FileNotFoundError: [Errno 2] No such file or directory: 'dataH/2023health_January.csv'

In [28]:
fpath = os.path.join("dataH", "2023health_April.csv")
df_data=pd.read_csv(fpath,encoding="utf8")
display(df_data)

         date  steps  kcal
0    2023/4/1  14886   447
1    2023/4/2   6893   207
2    2023/4/3   7711   231
3    2023/4/4   8399   252
4    2023/4/5  12150   365
5    2023/4/6   6165   185
6    2023/4/7  10913   327
7    2023/4/8  11316   339
8    2023/4/9   9871   296
9   2023/4/10  12274   368
10  2023/4/11   2845    85
11  2023/4/12     87     3
12  2023/4/13  14484   435
13  2023/4/14  14394   432
14  2023/4/15   1032    31
15  2023/4/16   4766   143
16  2023/4/17  12371   371
17  2023/4/18   1285    39
18  2023/4/19   1151    35
19  2023/4/20   6314   189
20  2023/4/21    152     5
21  2023/4/22  11130   334
22  2023/4/23   2215    66
23  2023/4/24  14541   436
24  2023/4/25   2350    71
25  2023/4/26   8367   251
26  2023/4/27    103     3
27  2023/4/28   2641    79
28  2023/4/29   1926    58
29  2023/4/30  10834   325

## Example 3

In [ ]:
# データ連結　（月毎）⇒年

## Example 4

In [ ]:
# グラフプロット

## Example 5

In [16]:
## https://ja.wikipedia.org/wiki/トップレベルドメイン一覧

In [10]:
url="https://ja.wikipedia.org/wiki/%E3%83%88%E3%83%83%E3%83%97%E3%83%AC%E3%83%99%E3%83%AB%E3%83%89%E3%83%A1%E3%82%A4%E3%83%B3%E4%B8%80%E8%A6%A7"
tables=pd.read_html(url)

In [13]:
len(tables)

40

In [15]:
tables

[    0                                                  1
 0 NaN  この記事の一部（New TLDs: https://newgtlds.icann.org/e...,
    Name               Entity                     Administrator[6]  \
 0  .com       商用(commercial)                                ベリサイン
 1  .org     団体(organization)        Public Interest Registry（英語版）
 2  .net  ネットワークインフラ(network)                                ベリサイン
 3  .int                 国際機関  Internet Assigned Numbers Authority
 4  .edu      アメリカ合衆国内の高等教育機関              Educause（英語版）（ベリサインが代行)
 5  .gov          アメリカ合衆国連邦政府          アメリカ合衆国一般調達局（英語版）（ベリサインが代行)
 6  .mil         アメリカ合衆国の軍事機関                          アメリカ合衆国国防総省

                                                Notes  IDN DNSSEC
 0  一般に開かれたドメインである。どんな個人や団体でも登録することを許される。当初は営利目的の企...  Yes    Yes
 1  一般に開かれたドメインである。どんな個人や団体でも登録することを許される。当初は非営利団体に...  Yes    Yes
 2  一般に開かれたドメインである。どんな個人や団体でも登録することを許される。当初は、コンピュー...  Yes    Yes
 3  .int ドメインは、2つ以上の国の間の条約によって設立された組織・機関・運動のみに利用が厳...   No     No
 4  .edu ドメインは、小学校(primary school)、中学校(middle scho...   No    Yes
 5  .gov ドメインは、アメリカ合衆国の政府機関および州・郡・地方自治体機関に利用が限定されている。   No    Yes
 6                        .mil ドメインはアメリカ軍に利用が限定されている。   No    Yes  ,
   Infrastructure                                Entity  \
 0          .arpa  "Address and Routing Parameter Area"

                                                Notes IDN DNSSEC
 0  初期のインターネットにおいて高等研究計画局(ARPA)に割り当てられていた。現在ではDNSの...  No    Yes  ,
              0                                                  1
 0           凡例                                                 凡例
 1         Name  国別コードトップレベルドメイン。ISO 3166-1 alpha-2に基づいているが、いくつ...
 2       Entity                                               国・地域
 3  Explanation                                           国・地域の現地名
 4        Notes                                                 説明
 5          IDN                                    国際化ドメイン名(IDN)対応
 6       DNSSEC                  DNS Security ExtensionsのDSレコードに存在
 7          SLD                            セカンドレベルドメインの登録が許可されているか
 8         IPv6                           レジストリがIPv6アクセスに完全対応しているか,
     Name        Entity          Explanation  \
 0    .ac       アセンション島                  NaN
 1    .ad          アンドラ                  NaN
 2    .ae      アラブ首長国連邦                  NaN
 3    .af       アフガニスタン                  NaN
 4    .ag  アンティグア・バーブーダ                  NaN
 ..   ...           ...                  ...
 248  .ye          イエメン                  NaN
 249  .yt         マヨット島                  NaN
 250  .za         南アフリカ  Zuid-Afrika (オランダ語)
 251  .zm          ザンビア                  NaN
 252  .zw         ジンバブエ                  NaN

                                                  Notes            IDN DNSSEC  \
 0    広く学術的なサイト（大学など）のために用いられる。アセンション島はイギリス領であるが、イギリ...            Yes    Yes
 1                        アンドラにおける商標または市民権が必要となる[7][8]。            NaN    Yes
 2                                                  NaN            NaN     No
 3                                                  NaN            NaN    Yes
 4    AGがドイツの株式会社(Aktiengesellschaft)の略称であることから、非公式に...            NaN    Yes
 ..                                                 ...            ...    ...
 248                                                NaN            NaN     No
 249  欧州連合・スイス・ノルウェー・アイスランド・リヒテンシュタインの個人・企業に限る[cctld...  Yes[cctld 12]    Yes
 250                                                NaN            NaN     No
 251                                                NaN            NaN    Yes
 252                                                NaN            NaN     No

                SLD IPv6
 0              Yes  Yes
 1              Yes  NaN
 2              Yes  NaN
 3              Yes  NaN
 4              Yes  NaN
 ..             ...  ...
 248             No  NaN
 249            Yes  NaN
 250             No  NaN
 251  Yes[cctld 28]  NaN
 252             No  NaN

 [253 rows x 8 columns],
                      ドメイン名     IDN ccTLD         国       言語              文字  \
 0          xn--lgbbat1ad8j      الجزائر.    アルジェリア    アラビア語          アラビア文字
 1               xn--y9a3aq          .հայ     アルメニア   アルメニア語         アルメニア文字
 2           xn--54b7fta0cc        .বাংলা   バングラデシュ    ベンガル語          ベンガル文字
 3                xn--90ais          .бел     ベラルーシ   ベラルーシ語           キリル文字
 4                 xn--90ae       .бг[37]     ブルガリア   ブルガリア語           キリル文字
 5               xn--fiqs8s           .中国        中国      中国語         漢字（簡体字）
 6               xn--fiqz9s           .中國        中国      中国語        漢字 （繁体字）
 7               xn--wgbh1c          مصر.      エジプト    アラビア語          アラビア文字
 8                xn--e1a4c           .ею      欧州連合   ブルガリア語           キリル文字
 9                 xn--node           .გე     ジョージア    グルジア語   グルジア文字（ムヘドルリ）
 10                xn--qxam       .ελ[37]      ギリシャ    ギリシア語          ギリシア文字
 11             xn--j6w193g           .香港        香港      中国語    漢字 （簡体字・繁体字）
 12             xn--h2brj9c         .भारत       インド   ヒンディー語       デーヴァナーガリー
 13          xn--mgbbh1a71e        بھارت.       インド   ウルドゥー語         ウルドゥー文字
 14           xn--fpcrj9c3d        .భారత్       インド     テルグ語           テルグ文字
 15             xn--gecrj9c         .ભારત       インド  グジャラート語      グジャラーティー文字
 16             xn--s9brj9c         .ਭਾਰਤ       インド  パンジャーブ語         グルムキー文字
 17       xn--xkc2dl3a5ee0h      .இந்தியா       インド     タミル語           タミル文字
 18             xn--45brj9c         .ভারত       インド    ベンガル語          ベンガル文字
 19         xn--mgba3a4f16a        ایران.       イラン    ペルシア語          ペルシア文字
 20             xn--mgbtx2b         عراق.       イラク    アラビア語          アラビア文字
 21          xn--mgbayh7gpa       الاردن.      ヨルダン    アラビア語          アラビア文字
 22             xn--80ao21a          .қаз    カザフスタン     カザフ語           キリル文字
 23             xn--mix082f           .澳门       マカオ      中国語         漢字（簡体字）
 24             xn--mix891f           .澳門       マカオ      中国語         漢字（繁体字）
 25               xn--d1alf          .мкд    北マケドニア   マケドニア語           キリル文字
 26          xn--mgbx4cd0ab       مليسيا.     マレーシア     マレー語  アラビア文字（ジャウィ文字）
 27               xn--l1acc          .мон      モンゴル    モンゴル語           キリル文字
 28         xn--mgbc0a9azcg       المغرب.      モロッコ    アラビア語          アラビア文字
 29            xn--mgb9awbf         عمان.      オマーン    アラビア語          アラビア文字
 30       xn--mgbai9azgqp6j      پاکستان.     パキスタン   ウルドゥー語         ウルドゥー文字
 31           xn--ygbi2ammx       فلسطين.     パレスチナ    アラビア語          アラビア文字
 32              xn--wgbl6a          قطر.      カタール    アラビア語          アラビア文字
 33                xn--p1ai           .рф       ロシア     ロシア語           キリル文字
 34       xn--mgberp4a5d4ar     السعودية.   サウジアラビア    アラビア語          アラビア文字
 35              xn--90a3ac          .срб      セルビア    セルビア語           キリル文字
 36           xn--yfro4i67o          .新加坡    シンガポール      中国語    漢字 （簡体字・繁体字）
 37  xn--clchc0ea0b2g2a9gcd  .சிங்கப்பூர்    シンガポール     タミル語           タミル文字
 38            xn--3e0b707e           .한국        韓国      韓国語            ハングル
 39           xn--fzc2c9e2c         .ලංකා     スリランカ    シンハラ語          シンハラ文字
 40        xn--xkc2al3hye2a       .இலங்கை     スリランカ     タミル語           タミル文字
 41            xn--mgbpl2fh        سودان.      スーダン    アラビア語          アラビア文字
 42            xn--ogbpf8fl        سورية.       シリア    アラビア語          アラビア文字
 43             xn--kprw13d           .台湾      中華民国      中国語         漢字（簡体字）
 44             xn--kpry57d           .台灣      中華民国      中国語         漢字（繁体字）
 45              xn--o3cw4h          .ไทย        タイ      タイ語            タイ文字
 46             xn--pgbs0dh         تونس.     チュニジア    アラビア語          アラビア文字
 47               xn--j1amh          .укр     ウクライナ   ウクライナ語           キリル文字
 48          xn--mgbaam7a8h       امارات.  アラブ首長国連邦    アラビア語          アラビア文字
 49            xn--mgb2ddes        اليمن.      イエメン    アラビア語          アラビア文字

                           転記                     備考 他のccTLD   DNSSEC
 0                 al Jaza'ir                    NaN     .dz       No
 1                        hay                    未使用     .am      Yes
 2                     Bangla                    未委任     .bd       No
 3                        bel                    NaN     .by       No
 4                         bg                    未委任     .bg       No
 5                   Zhōngguó                    NaN     .cn      Yes
 6                   Zhōngguó                    NaN     .cn      Yes
 7                  Masr [38]                    NaN     .eg      Yes
 8                        eyu                    未委任     .eu       No
 9                         GE                    未使用     .ge       No
 10                        el                    未使用     .gr       No
 11  Hoeng1 gong2 / Xiānggǎng                    NaN     .hk       No
 12                    Bhārat   2014年8月27日より利用可能[39]     .in      Yes
 13                    Bhārat                    未使用     .in      Yes
 14                   Bhārata                    未使用     .in      Yes
 15                    Bhārat                    未使用     .in      Yes
 16                    Bhārat                    未使用     .in      Yes
 17                    Intiyā  Became available 2015     .in      Yes
 18                    Bharôt                    未使用     .in      Yes
 19                      Īrān                    NaN     .ir       No
 20                      Iraq                    未使用     .iq       No
 21                 al 'Urdun                    NaN     .jo       No
 22                       qaz                    NaN     .kz       No
 23          Ou3 mun4 / Àomén                    未委任     .mo       No
 24          Ou3 mun4 / Àomén                    未委任     .mo       No
 25                       mkd                    NaN     .mk       No
 26                  Malaysia                    NaN     .my      Yes
 27                       mon                    NaN     .mn      Yes
 28                al Maghrib                    NaN     .ma       No
 29                      Oman                    NaN     .om       No
 30                  Pakistan                    未委任     .pk       No
 31                  Filastīn                    NaN     .ps       No
 32                     Qatar                    NaN     .qa       No
 33                        rf                    NaN     .ru      Yes
 34             as-Sa'ūdiyyah                    NaN     .sa       No
 35                       srb                    NaN     .rs       No
 36                  Xīnjiāpō                    NaN     .sg       No
 37                 Cinkappūr                    NaN     .sg       No
 38                   Han-guk                    NaN     .kr      Yes
 39                     Lanka                    NaN     .lk  部分的[22]
 40                   Ilangai                    NaN     .lk  部分的[22]
 41                     Sudan                    NaN     .sd       No
 42                     Sūryā                    NaN     .sy       No
 43                    Táiwān                    NaN     .tw      Yes
 44                    Táiwān                    NaN     .tw      Yes
 45                      Thai                    NaN     .th      Yes
 46                     Tūnis                    NaN     .tn      Yes
 47                       ukr                    NaN     .ua       No
 48                    Imārāt                    NaN     .ae       No
 49                  al Yemen                    未委任     .ye       No  ,
              Name                      Target market  \
 0        .academy                academic institutes
 1     .accountant   accountants and accounting firms
 2    .accountants   accountants and accounting firms
 3         .active                            general
 4          .actor                             actors
 ..            ...                                ...
 342          .wtf                            general
 343          .xxx  adult entertainment (pornography)
 344          .xyz                            general
 345         .yoga                                 ヨガ
 346         .zone                            general

                                           Restrictions      Operator/Registry  \
 0                                                    —         ドーナツ[donuts 1]
 1                                                    —      Famous Four Media
 2                                                    —         ドーナツ[donuts 2]
 3                                                    —     The Active Network
 4                                                    —   Rightside Group[n 1]
 ..                                                 ...                    ...
 342                                                  —                   ドーナツ
 343  For sites providing sexually explicit content,...                    NaN
 344                                                  —                XYZ.com
 345                                                  —  Minds + Machines[n 3]
 346                                                  —                   ドーナツ

          IDN DNSSEC
 0        Yes    Yes
 1         不明    Yes
 2        Yes    Yes
 3         不明    Yes
 4        Yes    Yes
 ..       ...    ...
 342      Yes    Yes
 343      Yes    Yes
 344  Yes[83]    Yes
 345      Yes    Yes
 346      Yes    Yes

 [347 rows x 6 columns],
       Name Translation Restrictions          Operator  \
 0  .maison     "house"            —  ドーナツ[donuts 122]

                                     IDN DNSSEC
 0  Chinese, French, German, Spanish[84]    Yes  ,
        Name                                        Translation  \
 0  .abogado                                           "lawyer"
 1   .gratis                                             "free"
 2   .futbol                                               サッカー
 3   .juegos                                            "games"
 4      .soy  "I am"Also refers to the 大豆 and its food deriv...
 5   .tienda                                    "shop", "store"
 6      .uno     "one", for websites targeting Latino consumers
 7   .viajes                                           "travel"

                                         Restrictions               Operator  \
 0  To be restricted to licensed lawyers or law fi...  Minds + Machines[n 3]
 1                                                  —       ドーナツ[donuts 123]
 2                                                  —   Rightside Group[n 1]
 3                                                  —            Uniregistry
 4                                                  —            Google[n 2]
 5                                                  —                   ドーナツ
 6                                                  —                    NaN
 7                                                  —                   ドーナツ

               IDN DNSSEC
 0              不明    Yes
 1             Yes    Yes
 2             Yes    Yes
 3         Yes[43]    Yes
 4  ラテン文字, 日本語[86]    Yes
 5         Spanish    Yes
 6         Spanish    Yes
 7         Spanish    Yes  ,
             Name    Translation  \
 0          .haus        "house"
 1    .immobilien  "real estate"
 2         .jetzt          "now"
 3        .kaufen          "buy"
 4         .reise       "travel"
 5        .reisen    "traveling"
 6        .schule       "school"
 7  .versicherung    "insurance"

                                         Restrictions              Operator  \
 0                                                  —  Rightside Group[n 1]
 1                                                  —  Rightside Group[n 1]
 2                                                  —       New TLD Company
 3                                                  —  Rightside Group[n 1]
 4  Must be an eligible member of the travel busin...              dotreise
 5                                                  —      ドーナツ[donuts 124]
 6                                                  —      ドーナツ[donuts 125]
 7                                                  —                   NaN

           IDN DNSSEC
 0         Yes    Yes
 1  German[10]    Yes
 2         Yes    Yes
 3  German[10]    Yes
 4   ラテン文字[10]    Yes
 5  German[10]    Yes
 6         Yes    Yes
 7   ラテン文字[10]    Yes  ,
        Name                    Translation Restrictions       Operator IDN  \
 0     .desi  ヒンディー語で、南アジアの人々や文化を指す言葉デシを参照。            —  Desi Networks  不明
 1  .shiksha                    ヒンディー語で「教育」            —        Afilias  不明

   DNSSEC
 0    Yes
 1    Yes  ,
     Name                                        翻訳  \
 0  .casa                                       "家"
 1  .cafe                         カフェ・コーヒーショップ・コーヒー
 2  .immo              フランス語・ドイツ語・オランダ語・イタリア語で「不動産」
 3  .moda                                  "ファッション"
 4  .voto  "投票", for election and campaign websites

                                         Restrictions               Operator  \
 0                                                  —  Minds + Machines[n 3]
 1                                                  —                   ドーナツ
 2                                                  —       ドーナツ[donuts 126]
 3                                                  —   Rightside Group[n 1]
 4  Must use the domain in connection with a "clea...                Afilias

            IDN DNSSEC
 0          Yes    Yes
 1          Yes    Yes
 2          Yes    Yes
 3  Spanish[10]    Yes
 4           不明    Yes  ,
             Name                        Entity Type  \
 0           .bar                              バーとパブ
 1          .bank                                 銀行
 2          .coop                               協同組合
 3   .enterprises              business associations
 4    .industries              industrial businesses
 5     .institute  Established business associations
 6          .ltda                           南アメリカの企業
 7           .pub                              バーとパブ
 8       .realtor                            不動産仲買業者
 9          .reit                      REIT（不動産投資信託）
 10         .rest                              レストラン
 11   .restaurant                              レストラン
 12         .sarl              有限会社, Francophone LLC
 13     .ventures              funding for start-ups

                                          Restrictions  \
 0                                                   —
 1        Restricted to banks and savings associations
 2                              ロッチデール原則で定義される協同組合に限定。
 3                                                   —
 4                                                   —
 5                                                   —
 6          ブラジル・コロンビア・チリ・エクアドルのLTDA（LLCのような物）に限定[90]。
 7                                                   —
 8   全米リアルター協会（英語版）とカナダ不動産協会（英語版）およびそれらに関連する団体の会員に限...
 9   Restricted to REITs, as determined by national...
 10                                                  —
 11                                                  —
 12                                                  —
 13                                                  —

                                              Operator      IDN DNSSEC
 0                                          Punto 2012      Yes    Yes
 1                                                 NaN       不明    Yes
 2                                      DotCooperation       No     No
 3                                    ドーナツ[donuts 127]      Yes    Yes
 4                                    ドーナツ[donuts 128]      Yes    Yes
 5                                    ドーナツ[donuts 129]      Yes    Yes
 6                                           InterNetX       不明    Yes
 7                                Rightside Group[n 1]      Yes    Yes
 8                                 Real Estate Domains       不明    Yes
 9   National Association of Real Estate Investment...       不明    Yes
 10                                         Punto 2012  Yes[93]    Yes
 11                                   ドーナツ[donuts 130]      Yes    Yes

In [20]:
df_t=tables[4]
display(df_t)

,Name,Entity,Explanation,Notes,IDN,DNSSEC,SLD,IPv6
0,.ac,アセンション島,NaN,広く学術的なサイト（大学など）のために用いられる。アセンション島はイギリス領であるが、イギリ...,Yes,Yes,Yes,Yes
1,.ad,アンドラ,NaN,アンドラにおける商標または市民権が必要となる[7][8]。,NaN,Yes,Yes,NaN
2,.ae,アラブ首長国連邦,NaN,NaN,NaN,No,Yes,NaN
3,.af,アフガニスタン,NaN,NaN,NaN,Yes,Yes,NaN
4,.ag,アンティグア・バーブーダ,NaN,AGがドイツの株式会社(Aktiengesellschaft)の略称であることから、非公式に...,NaN,Yes,Yes,NaN
...,...,...,...,...,...,...,...,...
248,.ye,イエメン,NaN,NaN,NaN,No,No,NaN
249,.yt,マヨット島,NaN,欧州連合・スイス・ノルウェー・アイスランド・リヒテンシュタインの個人・企業に限る[cctld...,Yes[cctld 12],Yes,Yes,NaN
250,.za,南アフリカ,Zuid-Afrika (オランダ語),NaN,NaN,No,No,NaN
251,.zm,ザンビア,NaN,NaN,NaN,Yes,Yes[cctld 28],NaN
252,.zw,ジンバブエ,NaN,NaN,NaN,No,No,NaN

In [21]:
df_t.to_csv("dataH/write_data_4.csv")

In [22]:
df_t.to_excel("dataH/write_data_4.xlsx")

## ----------------- Summary-----------------

In [46]:
index=np.random.randint(1, 10, (18,1))
score=np.random.randint(0, 100, (18,1))
B=np.hstack([index,score])
index_sum=np.sum(B[:,0])
score_sum=np.sum(B[:,1])

index1=np.where(index<5)[0]
value_less_than_five=score[index1]
sum_value1=np.sum(value_less_than_five)

index2=np.where(index>=5)[0]
value_five_or_more=score[index2]
sum_value2=np.sum(value_five_or_more)

sum_all=sum_value1+sum_value2

display(score_sum)
display(sum_all)

964

964

## ----------------- Hints-----------------

In [53]:
A=[[1,4,7],[2,5,8],[3,6,9]]
A_np=np.array(A)

In [52]:
A_np[0,0]+A_np[1,1]+A_np[2,2]

15

In [55]:
index3=np.where(index==5)[0]
display(index3)

array([ 6, 11])

In [58]:
for i in range(10):
    display(i+1)

1

2

3

4

5

6

7

8

9

10

In [1]:
import geoplotlib

ModuleNotFoundError: No module named 'geoplotlib'